@import "tailwindcss";

main{
    background:#000;
    height: 100vh;
    width: 100vw;
    color:rgb(255, 255, 255)
}

.wash{
    color:#fff;
    padding: 10px 20px;
    /* background:conic-gradient(red,green,blue,purple,yellow,orange,grey,seagreen,red); */
    width:fit-content;
    margin-top:20px;
    border-radius: 16px;
    font-weight: 900;
}