/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  }
  
  body {
    background: #efefef;
    color: #111;
    overflow: hidden;
  }
  
  /* PAGE */
  .page {
    width: 100vw;
    min-height: 100vh;
    background: #f7f7f7;
  }
  
  /* ================= NAVBAR ================= */
  
  .nav {
    height: 70px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 30px;
    height: 30px;
  }
  .logo img{
    width:100%;
    height:100%;
    object-fit: cover;

  }
  
  .links {
    display: flex;
    gap: 32px;
  }
  
  .links a {
    font-size: 14px;
    cursor: pointer;
    color: #222;
  }
  
  .nav button {
    background: transparent;
    border: 1px solid #222;
    padding: 8px 16px;
    font-size: 13px;
    cursor: pointer;
  }
  
  /* ================= HERO ================= */
  
  .hero {
    width: 100%;
    height: 100vh;
    padding: 0 70px;
    display: flex;
    align-items: center;
  }
  
  /* LEFT SIDE */
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  
  /* STATS */
  .stats {
    display: flex;
    gap: 40px;
  }
  
  .stats h3 {
    font-size: 22px;
    font-weight: 500;
  }
  
  .stats p {
    font-size: 12px;
    color: #666;
  }
  
  /* TEXT */
  .left h1 {
    font-size: 110px;
    font-weight: 400;
    letter-spacing: -2px;
  }
  
  .left p {
    font-size: 15px;
    color: #444;
  }
  
  /* SCROLL */
  .left span {
    font-size: 13px;
    color: #666;
    margin-top: 40px;
  }
  
  /* RIGHT SIDE */
  .right {
    height: 90vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right img {
    height: 100%;;
    object-fit: cover;
    filter: grayscale(100%);
  }
  
